@import "./partials/bootstrap-overrides";

.aside {
  width: 15%;
  background-color: black;
  min-height: 100%;
}
#main {
  width: 70%;
}
#albumPage {
  background-color: rgb(204, 176, 73);
}
#playBtn {
  background-color: rgb(30, 215, 95);
}
#tabella {
  background-color: rgba(33, 37, 41, 0.705);
}
